<h3>Agregar <small>{{nuevo.nombre}}</small></h3>
        <hr>
        <!--Evento Personalizado para los formularios si refresh de pagina-->
        <form (ngSubmit)="agregar()">
            
            <input type="text" 
                    placeholder="Nombre"
                    [value]="nuevo.nombre"
                    name="nombre"
                    [(ngModel)]="nuevo.nombre"/>

            <input type="text" 
                    placeholder="Poder"
                    name="poder"
                    [(ngModel)]="nuevo.poder"/>
                    <!--[value]="nuevo.poder"
                        (input)="CambiarNombre( $event )"-->
                    
            <button type="submit">
                Agregar
            </button>
        </form>
